<!DOCTYPE html>
<html lang="nl">
    <head>
        <link href="../static/stylesheet.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>BCFtools</title>
    </head>

    <body style="background-color: var(--background-color)">
    <ul>
        <li><a href="/bmf">BMF</a></li>
        <li><a href="/bwa-mem2">BWA-mem2</a></li>
        <li><a href="/samtools">Samtools</a></li>
        <li class="color"><a class="color-hover" href="/bcftools">BCFtools</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/contacten">Contact</a></li>
    </ul>

    <div>
        <p class="paragraph_text">
            BCFtools V1.23: (
            <a
                href="https://www.htslib.org/download/">https://www.htslib.org/download/
        </a>
            )
            <br><br>
3.1 mpileup: een algoritme om de ‘genotype likelihoods’ te berekenen en hier een VCF van te maken.
<br><br>
            Relevante tweaks:
            <br>
-r, --regions CHR|CHR:POS|CHR:FROM-TO|CHR:FROM-[,…].
Deze tweak zorgt ervoor dat je de tool in specifieke regio’s van het referentie DNA kan laten werken,
            wat handig is om specifieker te zoeken naar matches.
<br><br>
3.2 call: BCFtools call is een algoritme dat ‘variant calling’ (het vergelijken van een genoom met een referentiegenoom en de verschillen er uithalen) doet.
            Met behulp van de eerder berekende genotype likelihoods evalueert dit algoritme de meest waarschijnlijke variant van het genetische materiaal.
            <br><br>
De input van BCFtools is een BAM-bestand
            <br>
De output van BCFtools is een VCF-bestand

        </p>
    </div>
    </body>
</html>