{% extends "main.html" %}
{% block content %}

{# Get form voor pagina (geeft de gebruiker wat ie moet invullen #}
{% if method == 'GET' %}

    <p class="paragraph_text">
        {% if fastq_bestand %}
            Verkeerde file, alleen fastq of fq files kunnen gebruikt worden! Jouw file: {{ fastq_bestand }}
        {% endif %}
        {% if k and not fastq_bestand %}
            Geen file, upload een file!
        {% endif %}
        {% if chromosoom_begin %}
            Einde is lager dan hoger, begin: {{ chromosoom_begin }}, einde: {{ chromosoom_eind }}
        {% endif %}
    </p>

    <form action="/bmf" method="post" class="paragraph_text">
        <h2>Nieuwe run</h2>
        <p>BWA-mem2</p>

        Upload hier jouw FASTQ-bestand:
        <br>
        <input type="file" name="fastq_bestand" accept=".fastq, .fq">
        <br><br>

        Minimaal aantal nucleotiden (-k):
        <br>
        <input type="number" min="10" max="2000" value="19" name="nucleotiden_achter_elkaar">
        <br><br>

        Afstand tussen matches (-w):
        <br>
        <input type="number" min="50" max="500" value="100" name="afstand_matches">
        <br><br>

        Maximaal aantal keer gerapporteerd (-c):
        <br>
        <input type="number" min="1" max="1500" value="500" name="maximaal_keer_gerapporteerd">
        <br><br>
        <p>BCFtools</p>
        Chromosoom regio zoeken (0 betekent geen)
        <br><br>
        Chromosoom:
        <input type="number" min="0" max="25" value="0" name="chromosoom"> <br>
        Begin:
        <input type="number" min="0"  value="0" name="chromosoom_begin"><br>
        Eind:
        <input type="number" min="0" value="0" name="chromosoom_eind"><br>


        <button type="submit">Submit</button>
        {% if vorige %}
            <br><br>
            <h2> Vorige run</h2>

            Vorige input:<br>
            Fastq-bestand: {{ vorige.fastq_bestand }} <br>
            Nucleotiden achter elkaar: {{ vorige.k }} <br>
            Afstand matches: {{ vorige.w }} <br>
            Maximaal keer gerapporteerd: {{ vorige.c }} <br><br>
            Vorig chromosoom: {{ vorige.chromosoom }} <br>
            Vorige begin: {{ vorige.chromosoom_begin }}<br>
            Vorige einde: {{ vorige.chromosoom_eind }} <br><br>
            Vorige output: <br>
            <button type="button" onclick="window.location.href='/bmf/download'">out.vcf</button>
            <button type="button" onclick="window.location.href='/bmf/download2'">Mutaties</button>

            <br><br>
            <img src="../static/pictures/mutations_per_chromosome.png" alt="Een barplot die de resultaten laat zien">
            <br>
        {% endif %}
    </form>
{% endif %}


{# Deze pagina wordt gerefreshed tot dat het eind resultaat gemaakt is door de andere thread.#}
{% if method == 'STATUS'%}

    {% if status == "done" %}
        <div class="paragraph_text">
            <br>
            Uw analyse is voltooid, hier zijn uw resultaten <br><br>
            Uw input:<br>
            Fastq-bestand: {{ fastq_bestand }} <br>
            Nucleotiden achter elkaar: {{ k }} <br>
            Afstand matches: {{ w }} <br>
            Maximaal keer gerapporteerd: {{ c }} <br><br>
            Vorig chromosoom: {{ chromosoom }} <br>
            Vorige begin: {{ chromosoom_begin }}<br>
            Vorige einde: {{ chromosoom_eind }} <br><br>
            Uw output: <br>
            <button type="button" onclick="window.location.href='/bmf/download'">out.vcf</button>
            <button type="button" onclick="window.location.href='/bmf/download2'">Mutaties</button>

            <br>
            <img src="../static/pictures/mutations_per_chromosome.png" alt="Een barplot die de resultaten laat zien">
        </div>
    {% else %}
        <meta http-equiv="refresh" content="15;url=/bmf">
        <div class="paragraph_text">

            <h2>Uw request is begonnen, dit kan lang duren (10–30 minuten).</h2>
            U wordt automatisch doorgestuurd zodra het klaar is!
            <br><br>
            fastq-bestand: {{ fastq_bestand }} <br>
            nucleotiden achter elkaar: {{ k }} <br>
            afstand matches: {{ w }} <br>
            Maximaal keer gerapporteerd: {{ c }} <br><br>
            Vorig chromosoom: {{ chromosoom }} <br>
            Vorige begin: {{ chromosoom_begin }}<br>
            Vorige einde: {{ chromosoom_eind }}
        </div>
    {% endif %}
{% endif %}
{% endblock %}