{% extends "main.html" %}

{% block content %}
    <div>
    <p class="paragraph_text">
        <br>
        Alexander Fluttert, studentnummer: 506426, te bereiken op ajlt.fluttert@st.hanze.nl
        <br><br>
        Oscar Dogger, studentnummer: 508935, te bereiken op oa.dogger@st.hanze.nl
        <br><br>
        Mohammed Kalash, studentnummer: 496258, te bereiken op m.kalash@st.hanze.nl
        <br><br>
        <a href="https://github.com/mokalashhanze/installatie-handleiding-tool"> Onze github </a>
    </p>
   </div>

{% endblock %}