{% extends "main.html" %}

{% block content %}

        <p class="paragraph_text">
        welkom bij onze website!
        <br>
        gebruik het menu hierboven om te navigeren.
        </p>
        <div style="display: flex; max-width: 200ch; justify-content: space-between; gap: 20px;">
        <div style="flex: 1;">
    <h1> 
        pijplijn
    </h1>
    <br> 
        Moderne DNA-scanners maken enorme hoeveelheden ruwe data die onleesbaar zijn.
         Om foutjes (mutaties) in het DNA te vinden, gebruiken we drie stappen:
        Eerst bepaalt BWA-mem2 de juiste plek van de DNA-stukjes op het genoom.
        Daarna maakt Samtools de grote tekstbestanden (SAM) een stuk kleiner (BAM) om ruimte te besparen.
        Als laatste zoekt BCFTools in deze bestanden naar de mutaties.
    <h2>
        Onderzoekvraag:
    </h2>
    <br>
    Welke specifieke mutaties heeft een individu ten opzichte van het menselijk referentiegenoom?
    <br>
    In welke genen zitten de mutaties?  
    <br>
        </div>
        <div style="flex: 1;">
            <br>
                <img src="../static/pictures/pijplijn.png" alt="pijplijn" width="400">
            <br>
            <br>
figuur 1: pijplijn 
            <br>
{% endblock %}
