{% extends "main.html" %}

{% block content %}
    <div class ="dubbele_layout">
        <div class ="flex-column">
            <div class ="paragraph_text">
        <h1>
            welkom bij onze website!<br>
            gebruik het menu hierboven om te navigeren.
        </h1>

    <h1> pijplijn: </h1>
        Moderne DNA-scanners maken enorme hoeveelheden ruwe data die onleesbaar zijn.
         Om foutjes (mutaties) in het DNA te vinden, gebruiken we drie stappen:
        Eerst bepaalt BWA-mem2 de juiste plek van de DNA-stukjes op het genoom.
        Daarna maakt Samtools de grote tekstbestanden (SAM) een stuk kleiner (BAM) om ruimte te besparen.
        Als laatste zoekt BCFTools in deze bestanden naar de mutaties.

    <h2> Onderzoekvraag: </h2>
    Welke specifieke mutaties heeft een individu ten opzichte van het menselijk referentiegenoom?<br>
    In welke genen zitten de mutaties? <br>

    <h2> Benodigdheden: </h2>  
     
    <h3>1. Software: </h3> 
    1.1.BWA-mem2 V2.3: <br>
    1.2.Samtools V1.23: <br>
    1.3.BCFtools V1.23:  <br><br>
    
    <h3> Data: </h3>
    Raw FASTQ files (reads) en een Human Reference Genome<br>
    zie figuur 2 <br><br>

    <h3> 3.Hardware: </h3>
    Linux-omgeving (schoolcomputers)<br><br>

    <h2> Doelen & Eisen: </h2>

    <h3>Opdrachtgever: </h3>
    Er moet een dynamische website worden gemaakt waarbij de gebruiker een ruwe reads file kan uploaden. 
    Voor deze file moeten dan opties gekozen kunnen worden die besproken zijn bij de tools, 
    zoals minimale aantal nucleotides voor een match bij BWA-mem2. Hieruit komt 
    dan een visualisatie (tabel/ grafiek) en/of de VCF-file (om de file te krijgen moet de gebruiker dit aangeven). 
    <br><br>

    <h3> Eigen eisen: </h3>
    1.De backend moet net in elkaar zijn gezet doormiddel van in line comments en docstrings toe te voegen. 
    Dit is zodat anderen programmeurs het kunnen debuggen of editen.
    <br><br>
    2.Alle tools op de website die de gebruiker gebruikt moeten werken zonder problemen.
    Alle informatie over de verschillende opties van iedere tool moeten op de website duidelijk erop staan,
    doormiddel van een handleiding of een info veld. Onder andere referentiewaardes en default waardes. 
    <br><br>
    </div>
        </div>
            <div class ="flex-column">

            <br> <img src="../static/pictures/pijplijn.png" alt="pijplijn" width="400">
            <br><br>
            figuur 1: pijplijn 
            <br><br>
            <img src="../static/pictures/reads.png" alt="pijplijn" width="400">
            <br><br>
            figuur 2: Raw FASTQ files (reads)
            <br>
    </div>
        </div>
{% endblock %}
