:root {
    --current-page-button-color: #28536c;  /* default: green */
    --current-page-button-hover-color: color-mix(in srgb, var(--current-page-button-color) 75%, white 20%);

    --current-page-bar-color: #353232; /* default: 333333 */
    --current-page-bar-color-dark: color-mix(in srgb, var(--current-page-bar-color) 75%, white 25%);

    --background-color: #D3D3D3
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--current-page-bar-color);
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
    background-color: var(--current-page-bar-color-dark);
}

ul li a:hover.color-hover {
    background-color: var(--current-page-button-hover-color);
}

ul li.right {
    margin-left: auto;
}

ul li.color {
    background-color: var(--current-page-button-color);
}

.paragraph_text {
    margin-left: 16px;
    margin-right: 32px;
    text-align: left;
}